<html>
<head>
<title>Upload Photo</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
	<div class="card m-5">
		<img class="card-img-top" src="C:\Users\lucal\AppData\Local\Temp\500pxdownload.com-76564893.jpg" alt="Card image cap">
		<div class="card-body">
			<h5 class="card-title text-capitalize" th:text="${user.name}"/>
			<p class="card-text" th:text="${user.email}"/>
		</div>
	</div>
</body>
</html>